---
layout: default
---
<div class="header bg-primary">
	<div class="container">
		<a href="{{ site.url }}">
			<img src="{{site.author.picture}}" class="header__image">
		</a>
		<h2>{{site.author.name}}</h2>
		<p>
			{{ site.author.bio }}
		</p>
	</div>
</div>


<section class="about section-spacing">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h2>Sobre</h2>
            </div>
            <div class="col-lg-9 about__text">
                <p>
                    {{ site.author.full_bio }}
                </p>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="about__social-links">
                            <div class="row">
                                {% if site.author.github %}
                                    <a href="https://github.com/{{site.author.github}}" target="_blank" class="col-lg-6">
                                        <div class="about__link-item">
                                            <img src="assets/images/icon/github.svg" class="header__social-icon">
                                            <div>
                                                <h4>
                                                    Github
                                                </h4>
                                                <small>
                                                    https://github.com/{{site.author.github}}
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                {% endif %}
                                {% if site.author.linkedin %}
                                    <a href="https://linkedin.com/in/{{site.author.linkedin}}" target="_blank" class="col-lg-6">
                                        <div class="about__link-item">
                                            <img src="assets/images/icon/linkedin.svg" class="header__social-icon">
                                            <div>
                                                <h4>
                                                    Linkedin
                                                </h4>
                                                <small>
                                                    https://linkedin.com/in/{{site.author.linkedin}}
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                {% endif %}
                                {% if site.author.instagram %}
                                    <a href="https://instagram.com/{{site.author.instagram}}" target="_blank" class="col-lg-6">
                                        <div class="about__link-item">
                                            <img src="assets/images/icon/instagram.svg" class="header__social-icon">
                                            <div>
                                                <h4>
                                                    Instagram
                                                </h4>
                                                <small>
                                                    https://instagram.com/{{site.author.instagram}}
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                {% endif %}
                                {% if site.author.instagram %}
                                    <a href="mailto:lucas@jandrey.dev" target="_blank" class="col-lg-6">
                                        <div class="about__link-item">
                                            <img src="assets/images/icon/instagram.svg" class="header__social-icon">
                                            <div>
                                                <h4>
                                                    Email
                                                </h4>
                                                <small>
                                                    lucas@jandrey.dev
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <hr>
</div>
<section class="last-works section-spacing">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h2>Experiências</h2>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    {% for work in site.last_works %}
                        <div class="col-lg-6">
                            <div class="last-works__job" data-aos="zoom-in">
                                <div>
                                    <div class="last-works__job-title">
                                        <img src="{{ work.image }}" class="last-works__job-image" />
                                        <div>
                                            <h3>{{ work.position }}</h3>
                                            <span>{{ work.company }}</span> <br />
                                            <small>{{ work.date }}</small>
                                        </div>
                                    </div>
                                    <div class="last-works__job-description">
                                        {{ work.description }}
                                    </div>
                                </div>
                                <div>
                                    <h4>Competências</h4>
                                    <div class="last-works__job-badges">
                                        {% for skill in work.skills %}
                                        <div class="badge last-works__job-badge">{{ skill }}</div>
                                        {% endfor %} 
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <hr>
</div>
<section class="skills section-spacing">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h2>Hard Skills</h2>
            </div>
            <div class="col-lg-9 skills__list">
                {% for skill in site.hard_skills %}
                <div class="skills__list-item" data-aos="fade-right">
                    <div class="skills_item-title">
                        <h3>{{ skill.name }}</h3>
                        {% if skill.years %}
                            <div class="badge">{{ skill.years }}</div>
                        {% endif %}
                    </div>
                    <div class="skills__item-description">
                        {{ skill.description }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<div class="container">
    <hr>
</div>
<section class="skills section-spacing">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h2>Soft Skills</h2>
            </div>
            <div class="col-lg-9 skills__list">
                {% for skill in site.soft_skills %}
                <div class="skills__list-item" data-aos="fade-right">
                    <div class="skills_item-title">
                        <h3>{{ skill.name }}</h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<div class="post-container">
	{% for post in paginator.posts %}
        <div class="post-list">
            <a class="post-title" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%d.%m.%Y" }}</time>
        </div>
    {% endfor %}
</div>

{% include pagination.html %}
