	<footer class="footer bg-primary">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					Theme - <strong>Lucas Jandrey</strong>
				</div>
				<div class="col-lg-6 footer__by">
					<strong>Github Pages</strong>
				</div>
			</div>
		</div>
	</footer>
	<script src="assets/js/ephesus.js"></script>
	<script src="assets/js/aos.js"></script>
	<script type="text/javascript">
  		AOS.init();
	</script>

	{% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{site.google_analytics}}');
    </script>
	{% endif %}
</body>
</html>