<div class="row">
	<div class="col-lg-12">
		{% if paginator.previous_page %}
			{% if paginator.previous_page == 1 %}
				<a class="prev" href="/">< Home</a>
			{% else %}
				<a class="prev" href="/page/{{ paginator.previous_page }}/">< Anterior</i></a>
			{% endif %}
		{% endif %}
		<span class="page-number">Página {{paginator.page}} de {{paginator.total_pages}}</span>
		{% if paginator.next_page %}
			<a class="next" href="/page/{{ paginator.next_page }}/">Próxima ></a>
		{% endif %}
	</div>
</div>